<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout-main}">
<head>
  <title>Trang tổng quan Admin</title>
</head>
<body>
<th:block layout:fragment="content">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body text-center">
            <i class="bi bi-people-fill fs-1"></i>
            <h5 class="card-title">Danh sách người dùng</h5>
            <a th:href="@{/admin/users}" class="btn btn-primary">Vào</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body text-center">
            <i class="bi bi-building fs-1"></i>
            <h5 class="card-title">Danh sách khách sạn</h5>
            <a th:href="@{/admin/hotels}" class="btn btn-primary">Vào</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body text-center">
            <i class="bi bi-bookmark-check fs-1"></i>
            <h5 class="card-title">Danh sách đặt phòng</h5>
            <a th:href="@{/admin/bookings}" class="btn btn-primary">Vào</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</th:block>
</body>
</html>
