<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout-main}">
<head>
  <title>Chỉnh sửa khách sạn</title>
</head>
<body>
<th:block layout:fragment="content">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card">
          <div class="card-header">
            <h2 class="text-center">Chỉnh sửa khách sạn</h2>
          </div>
          <div class="card-body">
            <form method="post" th:action="@{/admin/hotels/edit/{id}(id=${hotel.id})}" th:object="${hotel}">
              <div class="form-group mb-3">
                <label class="form-label" for="name">Tên khách sạn:</label>
                <input class="form-control" id="name" type="text" th:field="*{name}"
                       placeholder="Khách sạn ABC">
                <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
              </div>
              <input type="hidden" th:field="*{addressDTO.id}">
              <div class="form-group mb-3">
                <label class="form-label" for="addressLine">Địa chỉ:</label>
                <input class="form-control" id="addressLine" type="text"
                       th:field="*{addressDTO.addressLine}"
                       placeholder="Nhập địa chỉ khách sạn">
                <p class="text-danger" th:if="${#fields.hasErrors('addressDTO.addressLine')}"
                   th:errors="*{addressDTO.addressLine}"></p>
              </div>
              <div class="form-group mb-3">
                <label class="form-label" for="city">Thành phố:</label>
                <input class="form-control" id="city" type="text" th:field="*{addressDTO.city}"
                       placeholder="Hồ Chí Minh">
                <p class="text-danger" th:if="${#fields.hasErrors('addressDTO.city')}"
                   th:errors="*{addressDTO.city}"></p>
              </div>
              <div class="form-group mb-3">
                <label class="form-label" for="country">Quốc gia:</label>
                <input class="form-control" id="country" type="text" th:field="*{addressDTO.country}"
                       placeholder="Vietnam">
                <p class="text-danger" th:if="${#fields.hasErrors('addressDTO.country')}"
                   th:errors="*{addressDTO.country}"></p>
              </div>
              <!-- Single Room Details -->
              <div class="form-group mb-3">
                <input type="hidden" th:field="*{roomDTOs[0].id}">
                <label class="form-label" for="singleRoomCount">Số lượng phòng đơn:</label>
                <input class="form-control" id="singleRoomCount" type="number"
                       th:field="*{roomDTOs[0].roomCount}"
                       placeholder="0">
                <input type="hidden" th:field="*{roomDTOs[0].roomType}">
                <p class="text-danger" th:if="${#fields.hasErrors('roomDTOs[0].roomCount')}"
                   th:errors="*{roomDTOs[0].roomCount}"></p>
                <label class="form-label" for="singleRoomPrice">Giá phòng đơn:</label>
                <input class="form-control" id="singleRoomPrice" type="number" step="0.01"
                       th:field="*{roomDTOs[0].pricePerNight}"
                       placeholder="0">
                <p class="text-danger" th:if="${#fields.hasErrors('roomDTOs[0].pricePerNight')}"
                   th:errors="*{roomDTOs[0].pricePerNight}"></p>
              </div>
              <!-- Double Room Details -->
              <div class="form-group mb-3">
                <input type="hidden" th:field="*{roomDTOs[1].id}">
                <label class="form-label" for="doubleRoomCount">Số lượng phòng đôi:</label>
                <input class="form-control" id="doubleRoomCount" type="number"
                       th:field="*{roomDTOs[1].roomCount}"
                       placeholder="0">
                <input type="hidden" th:field="*{roomDTOs[1].roomType}">
                <p class="text-danger" th:if="${#fields.hasErrors('roomDTOs[1].roomCount')}"
                   th:errors="*{roomDTOs[1].roomCount}"></p>
                <label class="form-label" for="doubleRoomPrice">Giá phòng đôi:</label>
                <input class="form-control" id="doubleRoomPrice" type="number" step="0.01"
                       th:field="*{roomDTOs[1].pricePerNight}"
                       placeholder="0">
                <p class="text-danger" th:if="${#fields.hasErrors('roomDTOs[1].pricePerNight')}"
                   th:errors="*{roomDTOs[1].pricePerNight}"></p>
              </div>
              <!-- -->
              <div class="form-group mb-3">
                <button type="submit" class="btn btn-primary">Cập nhật</button>
                <a th:href="@{/admin/hotels}" class="btn btn-secondary">Hủy</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</th:block>
</body>
</html>
