<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout-main}">
<head>
  <title>Lỗi</title>
</head>
<body>
<th:block layout:fragment="content">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card mt-5">
          <div class="card-header">
            <h2 class="text-center">Ôi không! Đã xảy ra lỗi.</h2>
          </div>
          <div class="card-body">
            <p th:text="${errorMessage}"></p>
            <a href="/" class="btn btn-primary">Về Trang chủ</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</th:block>
</body>
</html>
